
<div class="dashboard_container">

  <div class="dashboard_header">
    {{title}} <br>
    <div class="dashboard_tag_line">
      An overall health check for all applications.
    </div>
  </div>

  <div class="dashboard_page">
    <table id="dash_table" class="ui celled table">
      <thead>
        <tr>
          <th id="tab_short_col">#</th>
          <th id="tab_mid1_col">ID</th>
          <th id="tab_mid2_col">Application</th>
          <th id="tab_short_col">Env-I</th>
          <th id="tab_short_col">Env-II</th>
          <th id="tab_long_col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>67347</td>
          <td>App 1</td>
          <td class="status_green">e1</td>
          <td>e2</td>
          <td></td>
        </tr>

        <tr>
          <td>2</td>
          <td>12345</td>
          <td>app 2</td>
          <td>e1</td>
          <td class="status_info">e2</td>
          <td></td>
        </tr>

        <tr>
          <td>3</td>
          <td>34567</td>
          <td>app3</td>
          <td class="status_red">e1</td>
          <td></td>
          <td>Ticket #345</td>
        </tr>

        <tr>
          <td>4</td>
          <td>3234</td>
          <td>app4</td>
          <td>e1</td>
          <td class="status_yellow">e2</td>
          <td></td>
        </tr>

      </tbody>
    </table>

  </div>

  <div class="dash_footer">Footer</div>
</div>
