/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body
{
    margin: 0;
    padding:0;
    background: #f3f3f3;
    font-family: Quicksand;
}

.float_left
{
    float:left;
}

.float_right
{
    float:right;
}

.bg_dark
{
    background: #263544;
}

.bg_white
{
    background: #fff;
}

.right_shadow
{
    box-shadow: 1px 0px 1px 1px rgba(213,213,224,1);
}

.bottom_shadow
{
    box-shadow: 0px 1px 1px 1px rgba(213,213,224,1);
}

.text_dark
{
    color:#212529;
}