<div class="table_container">

  <table datatable class="dash_table">
    <thead>
      <tr>
        <th *ngFor="let header of HEADERS; let i=index">{{header}}</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let data of DATA; let i=index">
       <td>{{data.id}}</td>
       <td>{{data.application}}</td>
       <td>
        <ng-container *ngFor="let e of data.env">
          <span>{{e.name}}</span>
        </ng-container>
       </td>
       
       <td>{{data.details}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
