<div class="sidebar">
  <div class="sidebar_header sidebar_borders"><i class="fas fa-th" style="color:teal"></i> Web T.o.d</div>
  <div class="sidebar_main_item sidebar_borders">
    Dashboards <br> <br>
    <a [routerLink]="['/imos']" routerLinkActive="active">IMOS</a>
    <a [routerLink]="[ '/redwing' ]" routerLinkActive="active">Redwing</a>
    <a [routerLink]="[ '/vet' ]" routerLinkActive="active">VET</a>
    <a [routerLink]="[ '/cfs' ]" routerLinkActive="active">CFS</a>
    <a [routerLink]="[ '/obsidian' ]" routerLinkActive="active">Obsidian</a>
    <a [routerLink]="[ '/pbcf' ]" routerLinkActive="active">PBCF</a>
  </div>

  <div class="sidebar_single_item sidebar_borders">About</div>
</div>
