.sidebar
{
    height:100%;
    width:17%;
    background: rgb(27,28,29);
    position: fixed;
}

.sidebar_borders
{
    border-bottom:1px solid rgb(77, 75, 75);
    right: 10%;
    border-radius: 0.12em;
    width:90%;
}

.sidebar_header
{
    color: rgba(255,255,255,0.9);
    font-family: Lato;
    font-weight: 700;
    padding-left:5%;
    padding-top: 8%;
    padding-bottom:8%;
    font-size:17.5px;
}

.sidebar_header:hover
{
    cursor: pointer;
}

.sidebar_main_item
{
    color: rgba(255, 255, 255, 0.9);
    font-family: Lato;
    font-weight: 700;
    padding-left:5%;
    padding-top: 5%;
    padding-bottom:5%;
    font-size:14px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar_single_item
{
    color: rgba(255, 255, 255, 0.9);
    font-family: Lato;
    font-weight: 700;
    padding-left:5%;
    padding-top: 3%;
    padding-bottom:3%;
    font-size:14px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar_single_item:hover
{
    background: rgb(48, 48, 48);
}

.sidebar_main_item a 
{
    text-decoration: none;
    color:rgb(117, 117, 117);
    font-size: 13px;
    display: block;
    line-height: 1.55em;
}

.sidebar_main_item a:hover
{
    color: rgb(224, 220, 220);
}

.sidebar_main_item a.active
{
    color: rgba(255, 255, 255, 0.9);
}