<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" class="bg_dark right_shadow" opened>
    <div class="logo_container">
        <i class="fas fa-asterisk" style="color:#009688"></i>   Material
    </div>

    <div class="nav_category">Navigation</div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i class="fas fa-compress" style="padding-top:1.4%; padding-right: 3%"></i>Dashboard
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul>
                <li>Dash #1</li>
                <li>Dash #2</li>
                <li>Dash #3</li>
                <li>Dash #4</li>
                <li>Dash #5</li>
              </ul>
        </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>


  <mat-drawer-content>
    <div class="top_nav bg_white bottom_shadow">
        <div class="icon_container float_left" (click)="drawer.toggle()" >
            <i class="material-icons text_dark">menu</i>
        </div>
        <div class="header_container">Dashboard View</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
