.mat-drawer
{
    width: 17%;
    height: 100%;
    position:fixed;
}

.top_nav
{
    width: 100%;
    height:8%;
    position: fixed;
    color:#263544;
}

.icon_container
{
    width:4.5%;
    text-align: center;
    cursor: pointer;
    padding-top:1%;
    height: 74%;
}

.icon_container:hover
{
    background: #e6e6e6;
}

.header_container
{
    padding-top:1.1%;
    font-weight: 500;
    padding-left: 5%;
    cursor: pointer;
}

.logo_container
{
    font-size:20px;
    font-weight: 500;
    color:#f1f7ff;
    border-bottom: 1px solid rgb(78, 78, 78);
    padding-top: 6%;
    text-align: center;
    padding-bottom: 7%;
}

.nav_category
{
    font-size: 12px;
    font-weight: 500;
    opacity: 1;
    padding: 10% 10% 1% 7%;
    margin-bottom: 5px;
    position: relative;
    color:#f1f7ff;
}

.mat-panel-title
{
    color:#b7c0cd;
}

.mat-expansion-panel
{
    background: #1d2531;
    border-left:2px solid #42a5f5;
    font-family: Quicksand;
}

.mat-expansion-panel-header
{
    background: #263544;
    border-radius: 0px;
    font-family: Quicksand;
    font-size:14px;
    padding-left: 18px;
}

.mat-expansion-panel-header-title
{
    color:#b7c0cd;
    font-weight: 500;
}

.mat-expansion-panel:not([class*=mat-elevation-z])
{
    box-shadow: none;
}

.mat-expansion-panel-content
{
    font-family: inherit;
    font-size:13px;
    color:#b7c0cd;
}


